@import '~bootstrap/scss/bootstrap';



.hidden {
  display: none;
}

.forms {
  min-height: 80px;
}

h1 {
  font-family: 'Permanent Marker', cursive;
  margin-bottom: 0px;
  font-size: 50px;
  text-align: center;
}

.message-block {
  display: inline-block;
  height: 60px;
  margin: auto;
}

.game-board {
  min-height: 400px;
  min-width: 400px;
  margin: auto;
  text-align: center;
}

.top-row,
.middle-row,
.bottom-row {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff6e5;
}

.box {
  border: 2px solid #000;
  display: inline-block;
  height: 133px;
  width: 133px;
  font-family: 'Permanent Marker', cursive;
  font-size: 80px;
  text-align: center;
  justify-content: center;

  &:hover {
    background-color: #e8decc;
  }
}

// .pic-container {
//   // height: 500px;
//   // margin: auto;
// }

.picture {
  display: block;
  margin: auto;
  height: 400px;
  width: 400px;
  // max-height: auto;
  // max-width: 50%;
}

.game-message, .result {
  font-family: 'Permanent Marker', cursive;
  font-size: 30px;
  text-align: center;
}

.stats-display {
  height: 450px;
  overflow: scroll;
  width: 500px;
  margin: auto auto;
  margin-top: 20px;
  border: 2px solid black
}
