@import '~bootstrap/scss/bootstrap';



.hidden {
  display: none;
}

h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 50px;
  text-align: center;
}

.game-board {
  min-height: 500px;
  min-width: 500px;
  margin: 40px auto 50px auto;
  text-align: center;
}

.top-row,
.middle-row,
.bottom-row {
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff6e5;
}

.box {
  border: 2px solid #000;
  display: inline-block;
  height: 150px;
  width: 150px;
  font-family: 'Permanent Marker', cursive;
  font-size: 80px;
  text-align: center;
  justify-content: center;
}

// .pic-container {
//   // height: 500px;
//   // margin: auto;
// }

.picture {
  display: block;
  margin: 40px auto auto;
  max-height: auto;
  max-width: 50%;
}

.game-message, .result {
  font-family: 'Permanent Marker', cursive;
  font-size: 70px;
  text-align: center;
}
